<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>friendster</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.bvrit.friendster.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>com.bvrit.friendster.controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bvrit.friendster.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingController</display-name>
    <servlet-name>SettingController</servlet-name>
    <servlet-class>com.bvrit.friendster.controller.SettingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingController</servlet-name>
    <url-pattern>/setting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDetailsController</display-name>
    <servlet-name>UpdateDetailsController</servlet-name>
    <servlet-class>com.bvrit.friendster.controller.UpdateDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDetailsController</servlet-name>
    <url-pattern>/updatedetails</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserCheckFilter</display-name>
    <filter-name>UserCheckFilter</filter-name>
    <filter-class>com.bvrit.friendster.filter.UserCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserCheckFilter</filter-name>
    <url-pattern>/UserCheckFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UploadProfileController</display-name>
    <servlet-name>UploadProfileController</servlet-name>
    <servlet-class>com.bvrit.friendster.controller.UploadProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadProfileController</servlet-name>
    <url-pattern>/uploadprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UPF</display-name>
    <servlet-name>UPF</servlet-name>
    <servlet-class>com.bvrit.friendster.controller.UPF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UPF</servlet-name>
    <url-pattern>/UPF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProfileController</display-name>
    <servlet-name>DisplayProfileController</servlet-name>
    <servlet-class>com.bvrit.friendster.controller.DisplayProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProfileController</servlet-name>
    <url-pattern>/displayprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPostController</display-name>
    <servlet-name>AddPostController</servlet-name>
    <servlet-class>com.bvrit.friendster.controller.AddPostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostController</servlet-name>
    <url-pattern>/addpost</url-pattern>
  </servlet-mapping>
</web-app>